.news-letter-section {
    width: 100%;
    height: 260px;
    position: relative;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 6px;
}

.news-letter-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.news-letter-section .over-lay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: rgb(255, 128, 70);
    background: linear-gradient(90deg, rgba(255, 128, 70, 0.927608543417367) 16%, rgba(233, 161, 25, 0.0844712885154062) 72%);

    z-index: 1;
}

.news-letter-section .content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 2;
}

.news-letter-section .content h1 {
    margin: 0;
    -webkit-text-stroke: 1px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.news-letter-section .content h1 b {
    font-size: 28px;
    -webkit-text-stroke: 0px;
}

.news-letter-section .content h6 {
    margin: 0;
}


@media (max-width: 768px) {
    .news-letter-section .content {
        padding-left: 30px;
        padding-right: 30px;
    }

    form input {
        width: 300px !important;
    }

    form button {
        width: 100px !important;
    }
}