.item-section .card {
    font-family: "Josefin Sans", sans-serif;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
}

.item-section .card:hover img {
    transform: scale(1.2) rotate(5deg);
    transition: .6s;
}

.item-section .card .p-photo {
    width: 100%;
    height: 170px;
    border: none;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    margin: auto;
}

.item-section .card .p-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.item-section .card .card-body a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.item-section .card .card-body a:hover {
    text-decoration: underline;
}

.item-section .card .card-body p {
    font-size: 14px;
}

.item-section .card .card-body p del {
    opacity: .8;
}